doctype html
html
    head
        title #{pageTitle} | #{siteName}
    body
        header
            h1 #{pageTitle}
        main
            block content
        footer
            span &copy; Steve